* {
    fill: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5F7394;

}

#panel {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: .5em;
    background-color: #9B9B7A;
}

#state, #news, #charity {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-grow: 50px;
}

#sidebar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

svg {
    margin: 0;
    transform: scale(.9);
}

svg path {
    fill: #9B9B7A;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover {
    fill: #797D62;
    transition: 0.6s;
    cursor: pointer;
}
svg path:active {
    fill: #FFCB69;
    transition: 0.15s;
}